{% extends "index.html.twig" %}

{% block container %}
    <div class="well well-large">
        Folgendes ist zu den Daten und der Suche zu sagen:
        <ul>
            <li>Tippfehler sind zahlreich</li>
            <li>Die erstern Wörter eines Zitates gehören nicht zu dem Zitat. Da BibTex keine "Überschriften" kenn kann man sie leider nicht ausfilter</li>
            <li>Merkwürdige Aussagen am Ende eines Zitates sind meist meine eigenen wirren Gedanken dazu.</li>
            <li>Die Wörter unter dem Titel sind Stichwörter die ich vergeben habe</li>
            <li>Rom findet sowohl Rom als auch Aroma</li>
            <li>[...] sind Auslassungen</li>
            <li>Die Zitate sind in folgenden Sprachen: Deutsch, Englisch, Italienisch, Französisch, Spanisch, Polnisch (??)</li>
            <li>Einzelne Literatur Einträge können durch aus doppelt sein</li>
            <li>Die Angaben folgen den DAI Richtlinien, sind aber nicht immer vollständig oder richtig</li>
        </ul>
    </div>
{% endblock %}

